 <!--header-->
<%- include("partials/header.ejs") %>
  
   <!--Navbar information-->
              <div class="navBar ">
             
                   <div class="home">
                  
                      <a href="/" ><p>Home</p></a> 
              
                  </div>

                   <div class="provices">

                          <div class="pCard">
                             <a href="/Gauteng">
                                  <img src="/images/provinces icons dark/gauteng.png">
                                   <p class="montserrat">Gauteng</p>    
                             </a>   
                          </div>

                          <div class="pCard">
                            <a href="/EasternCape ">
                             <img src="/images/provinces icons dark/eastern-cape.png">
                                 <p>Eastern Cape</p>
                            </a>
                          </div>

                          <div class="pCard pFreeState">
                            <a href="/FreeState">
                                 <img src="/images/provinces icons dark/free-state.png">
                                 <p>Free State</p>  
                            </a>        
                          </div>

                          <div class="pCard ">
                            <a href="/KwaZulu-Natal">
                                 <img src="/images/provinces icons dark/kwazulu-natal.png">
                                 <p>KwaZulu-Natal</p>
                            </a>
                                 
                          </div>

                          <div class="pCard">
                            <a href="/Limpopo">
                                 <img src="/images/provinces icons dark/limpopo.png">
                                 <p>Limpopo</p>
                            </a>
                                 
                          </div>

                          <div class="pCard">
                            <a href="/Mpumalanga"> 
                               <img src="/images/provinces icons dark/mpumalanga.png">
                               <p>Mpumalanga</p>
                            </a>    
                          </div>

                          <div class="pCard">
                            <a href="/NorthernCape">
                               <img src="/images/provinces icons dark/northern-cape.png">
                                <p>Northern Cape</p>
                            </a>     
                          </div>

                          <div class="pCard">
                            <a href="/NorthWest">
                                 <img src="/images/provinces icons dark/north-west.png">
                                 <p>North West</p>  
                            </a>  
                          </div>
                   </div>
                   <% var day = "";
                            var indexDay = new Date().getDay();
                            switch(indexDay){
                                  case 0:
                                        day = "Sunday";
                                   break;

                                  case 1:
                                        day = "Monday";
                                  break;

                                   case 2:
                                       day = "Tuesday";
                                   break;

                                   case 3:
                                       day = "Wednesday";
                                    break;

                                    case 4:
                                      day = "Thursday";
                                     break;

                                    case 5:
                                      day = "Friday";
                                    break;

                                    case 6:
                                       day = "Saturday";
                                   break;

                     } %>

                    <%  var hours = new Date().getHours() ;
                     var minutes = new Date().getMinutes();
                     var time = `${hours}:${minutes}`; %>


                   <div class="day">
                     <p> <%=  day  %>  <%= time %></p>
                  </div>



              </div>
                <hr class="line">






               <!--content information-->
                <div class="content">
                          
                     <!--about provices-->     
                      <div class="cProvices">
                              <div>
                                <h1>Free State</h1>
                              </div>

                              <div class="cImg">
                                <img src="/images/provinces icons light/free-state.png">
                              </div>
                      </div>

                                


                 <!--information 2-->
                   <div class="infor2">
                    <% if(locals.name && locals.country){ %>
                       <div class="results">
                      
                          <div class="card">
                            
                            
                             <div class="desIcon" style="background-image: url('https://openweathermap.org/img/wn/<%= icon %>@2x.png'); background-position: center; background-repeat: no-repeat; background-size: cover;">
                                  <div>
                                     <p class="caveat"> <span><%=weather_description %></span></p>
                                  </div>
                             </div>
                        
                              <div class="country">
                                    <div class="cName">
                                       <p>Name: <span><%= name %> </span></p>
                                    </div>
                                    <div class="cCountry">
                                        <p>Country:<span><%= country %></span> </p>
                                    </div>
                              </div>
                          
                               <div class="extras country">
                                   <p>Temperature: <span><%= temperature %> C</span> </p>
                               </div>

                               <div class="tempIcon">     
                                    <img  class="iconA" src="https://openweathermap.org/img/wn/<%= icon %>@2x.png" alt="Weather Icon">
                               </div>
                                
                          </div>
                      
                      </div>
                   <% }else{ %>
                      <div class="results">
                      
                          <div class="card card1">
                              
                            <img  class="noData"  src="/images/Logo/logo2.png">
                             
                          </div>
                      
                      </div>
                     <%}%>

                           

                       <!--form actions-->
                       <div class="location">
                           <form action="/placesFS" method="post">
                                <div>
                                   <label for="places">Cities around FreeState:</label>
                                   <select id="places" name="places">
                                     <option>Bloemfontein</option>
                                     <option>Welkom</option>
                                     <option>Bethlehem</option>
                                     <option>Kroonstad</option>
                                     <option>Sasolburg</option>
                                     <option>Harrismith</option>
                                     <option>Parys</option>
                                   </select>
                                </div>
                                 <br>
                                <br>
                                <div>
                                     <input type="submit" id="submit" value="View">
                                </div>
                           </form>
                       </div>
                   </div>
                    
    
    
                 </div>

    
   
                
<!--footer-->
<%- include("partials/footer.ejs") %>